{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/game.css') }}" />

{% endblock %}
{% block body %}
    <section id="top-page">
        <div id="left-logo">
            <img src="{{ asset('assets/images/Ecolandia.png') }}" alt="logo">

        </div>



        <div id="stat-div">

            <div class="stats">
                <h1>test</h1>

            </div>
            <div class="stats">
                <h1>test</h1>

            </div>
            <div class="stats">
                <h1>test</h1>

            </div>

        </div>


    </section>
    <section id="middle-page">

        <div id="card-event">

            <div id="top-card">

            </div>
            <div class="middle-card">
                <h2>context</h2>
                <div id="explication">

                </div>


            </div>
            <div class="bottom-card">

            </div>

        </div>

    </section>

    <section id="bottom-page">

    </section>



{% endblock %}