{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/game.css') }}" />

{% endblock %}
{% block body %}

    <div>

        <div id="top-card">
            <div class="stats">

            </div>
            <div class="stats">

            </div>
            <div class="stats">

            </div>
        </div>
        <div class="middle-card">
            <h2></h2>
            <div id="explication">

            </div>


        </div>
        <div class="bottom-card">

        </div>

    </div>

{% endblock %}