{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/game.css') }}" />

{% endblock %}


{% block body %}
    <section id="top-page">
        <h2>Année : 0</h2>

    {% block stat %}
    <div class="stats" id="economie" data-pourcentage=50>
            <i class="fa-solid fa-euro-sign"></i>
            <div class="barre"></div>
            <div class="barre_vide"></div>

        </div>
            <div class="stats" id="ecologie" data-pourcentage=50>
            <i class="fa-solid fa-leaf"></i>
            <div class="barre"></div>
            <div class="barre_vide"></div>
        </div>
        <div class="stats" id="social" data-pourcentage=50>
            <i class="fa-solid fa-person"></i>
            <div class="barre"></div>
            <div class="barre_vide"></div>
        </div>
    {% endblock %}

    </section>

    <section id="middle-page">
        

        <div id="card-event">

            <div id="top-card">

            </div>
            <div class="middle-card">
                <p>Bonjour, vous venez d'arriver au poste de président d'Ecolandia. Je serai votre conseillé durant votre mandat, je viendrai vous voir avec des propositions de changement mais ça sera à vous de prendre la décision finale. Je vous conseille de faire attention à vous, l'équilibre du pays est très fragile et si vous le gérer mal le gouvernement pourrai s'en prendre à votre place.</p>
                <a href="{{ path('app_game') }}">Commencer</a>
                <div id="explication">

                </div>


            </div>
            <div class="bottom-card">

            </div>

        </div>

    </section>

    <section id="bottom-page">
        <a href="#">Le 1er choix sera présent ici</a>
        <a href="#">Le 2ème choix sera présent ici</a>
    </section>



{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/javascript/game.js') }}"></script>
{% endblock %}