{% extends '/ecolandia/game.html.twig' %}
{% block stat %}
<div id="stat-div">

            <div class="stats">
                <h1>{{stats[0].points}}</h1>

            </div>
            <div class="stats">
                <h1>{{stats[1].points}}</h1>

            </div>
            <div class="stats">
                <h1>{{stats[2].points}}</h1>

            </div>

        </div>
{% endblock %}