{% extends '/ecolandia/game.html.twig' %}
{% block stat %}
<div id="stat-div">
            <div class="stats" id="ecologie" data-pourcentage="100">
            <i class="fa-solid fa-leaf"></i>
            <div class="barre"></div>
            <div class="barre_vide"></div>
        </div>
        <div class="stats" id="social" data-pourcentage="100">
            <i class="fa-solid fa-person"></i>
            <div class="barre"></div>
            <div class="barre_vide"></div>
        </div>
{% endblock %}