{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/game.css') }}" />

{% endblock %}

{% block body %}
    <div id="txt">

        <h1>VOUS AVEZ GAGNÉ !!!!</h1>

        <a href="/"></a>

    </div>



{% endblock %}
