{% extends 'base.html.twig' %}

{% block title %}Ecolandia{% endblock %}

{% block body %}
<style>
    .flex{
        display: flex;
    }
    #ul-login{
        text-align: left;
    }
    #titre{
        margin-left:28%;
    }
    button{
        list-style: none;
        margin-top: 10%;
        margin-right: 10%;
    }
    body{
        background-image: url("assets/images/FondEcolandia.webp");

        background-size: cover;
        background-repeat: no-repeat;    
    }
    #para{
        text-align:center;
        background-color:  white;
        opacity: 0.6;
        font-size:40px;
    }
        .btn-16 {
        background-color:#fff;
        border: none;
        color: #000;
        }
    .btn-16:after {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        direction: rtl;
        box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
        transition: all 0.3s ease;
    }
    .btn-16:hover {
        color: #000;
    }
    .btn-16:hover:after {
        left: auto;
        right: 0;
        width: 100%;
    }
    .btn-16:active {
        top: 2px;
    }
    .custom-btn {
        font-family: cursive;
        width: 130px;
        height: 40px;
        color: #000;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: cursive;
        font-weight: 500;
        background: #e0e5ec;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
        7px 7px 20px 0px rgba(0,0,0,.1),
        4px 4px 5px 0px rgba(0,0,0,.1);
        outline: none;
        }
</style>

<div class="container">

    <div id="header" class="flex">
        <ul id="ul-login" class="flex">
            <button> <a href=" {{ path('app_login') }} "> login </a> </button> 
            <button> <a href=" {{ path('app_register') }} " > register </a> </button>  
        </ul>
        <div id="titre">
            <h1 style="color:white;"> Ecolandia </h1>
        </div>
    </div>
    <p id="para"> Ecolandia est un pays dont vous êtes le président, vous allez être confronté à des series de décisions qui vont résulter à différentes conséquences.
    Vous allez devoir jongler entre une économie stable, un peuple heureux et un écologie irréprochable. Si l'un de ses trois piliers fait defaut à votre pays, votre mandat prendra fin et votre partie sera donc terminée.
    </p>
    <a style="margin-left:40%; margin-top: 150px; width:200px; height: 50px;" role="button" aria-pressed="true" class="custom-btn btn-16 btn active" href="{{ path('app_newgame') }}"> JOUER </a>
</div>
{% endblock %}
 
