{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/game.css') }}" />

{% endblock %}

{% block body %}
    
    <h1>vous avez perdus</h1>

    <a href="/"></a>

{% endblock %}
